Package: com.kurrtandsquiddy.iopmkeychecker
Name: IOPMKeyChecker
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Kurrt+Squiddy
Author: Kurrt+Squiddy
Section: System
Tag: role::hacker
